.App {
  text-align: center;
}


.App-header {
  background-image: url(Barca.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: left;
}

.App-link {
  color: #61dafb;
}
